@model TemplatesWebsite.Models.LoginViewModel

@* Классссная и дерзкая форма для входа в аккаунт *@
<form asp-action="Login" method="post" class="form-horizontal">
    <h2>Вход в аккаунт</h2>
    <div class="form-group"> 
        <label asp-for="User_Email" class="col-md-2 control-label">Адрес эл. почты</label>
        <div class="col-md-10">
            <input asp-for="User_Email" class="form-control" />
            <span asp-validation-for="User_Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="User_Password" class="col-md-2 control-label">Пароль</label>
        <div class="col-md-10">
            <input asp-for="User_Password" class="form-control" />
            <span asp-validation-for="User_Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default btn-outline">Войти</button>
        </div>
    </div>
    @* К слову здесь я искал как ПРОСТО ОБВЕСТИ КНОПКУ ПХААХАХ *@
    <style>
        .btn-outline {
            border: 2px solid #000; /* черная граница толщиной 2px */
            padding: 10px 20px; /* внутренние отступы */
            background-color: transparent; /* прозрачный фон */
            color: #000; /* цвет текста */
        }
        
        .btn-outline:hover {
             background-color: #000; /* фон при наведении */
             color: #fff; /* цвет текста при наведении */
         }
    </style>

</form>

@section Scripts {
    @{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

        @* Короче, эта штука ловит аттрибуты валидации в LoginViewModel, эпично! *@
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                var errorMessage = '@TempData["ErrorMessage"]';
                if (errorMessage) {
                    toastr.error(errorMessage);
                }
            });
        </script>
    }
}
